IO_LOC  "dg" 25;
IO_PORT "dg" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "cg" 26;
IO_PORT "cg" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "bg" 27;
IO_PORT "bg" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "ag" 28;
IO_PORT "ag" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
