IO_LOC  "dg" 25;
IO_PORT "dg" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "cg" 26;
IO_PORT "cg" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "bg" 27;
IO_PORT "bg" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "ag" 28;
IO_PORT "ag" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
