IO_LOC  "button" 86;
IO_PORT "button" IO_TYPE=LVCMOS33;

IO_LOC  "dg" 28;
IO_PORT "dg" IO_TYPE=LVCMOS33;

IO_LOC  "cg" 27;
IO_PORT "cg" IO_TYPE=LVCMOS33;

IO_LOC  "bg" 26;
IO_PORT "bg" IO_TYPE=LVCMOS33;

IO_LOC  "ag" 25;
IO_PORT "ag" IO_TYPE=LVCMOS33;

IO_LOC  "seg_unidades[0]" 77;
IO_PORT "seg_unidades[0]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_unidades[1]" 76;
IO_PORT "seg_unidades[1]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_unidades[2]" 75;
IO_PORT "seg_unidades[2]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_unidades[3]" 74;
IO_PORT "seg_unidades[3]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_unidades[4]" 73;
IO_PORT "seg_unidades[4]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_unidades[5]" 72;
IO_PORT "seg_unidades[5]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_unidades[6]" 71;
IO_PORT "seg_unidades[6]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_decenas[0]" 70;
IO_PORT "seg_decenas[0]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_decenas[1]" 69;
IO_PORT "seg_decenas[1]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_decenas[2]" 68;
IO_PORT "seg_decenas[2]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_decenas[3]" 63;
IO_PORT "seg_decenas[3]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_decenas[4]" 81;
IO_PORT "seg_decenas[4]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_decenas[5]" 29;
IO_PORT "seg_decenas[5]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_decenas[6]" 80;
IO_PORT "seg_decenas[6]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_centenas[0]" 79;
IO_PORT "seg_centenas[0]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_centenas[1]" 57;
IO_PORT "seg_centenas[1]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_centenas[2]" 56;
IO_PORT "seg_centenas[2]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_centenas[3]" 55;
IO_PORT "seg_centenas[3]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_centenas[4]" 54;
IO_PORT "seg_centenas[4]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_centenas[5]" 53;
IO_PORT "seg_centenas[5]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_centenas[6]" 39;
IO_PORT "seg_centenas[6]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_milesimas[0]" 51;
IO_PORT "seg_milesimas[0]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_milesimas[1]" 82;
IO_PORT "seg_milesimas[1]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_milesimas[2]" 49;
IO_PORT "seg_milesimas[2]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_milesimas[3]" 48;
IO_PORT "seg_milesimas[3]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_milesimas[4]" 42;
IO_PORT "seg_milesimas[4]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_milesimas[5]" 41;
IO_PORT "seg_milesimas[5]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_milesimas[6]" 40;
IO_PORT "seg_milesimas[6]" IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rst" 3;
IO_PORT "rst" IO_TYPE=LVCMOS33;

IO_LOC  "suma_btn" 4;
IO_PORT "suma_btn" IO_TYPE=LVCMOS33;
